{{ template "head.html" . }}

<br>
Welcome to the **ATLANTIS Scoring Engine** — a custom deployment of the DWAYNE-INATOR-5000.

This instance was engineered and hosted by Jonathan Geisler in a Proxmox datacenter.  
If this page is not showing current competition data, please contact a competition organizer. Otherwise, this interface will reflect real-time scoring and team updates.
<br>
<br>

<i>DWAYNE who? This beast was upgraded into ATLANTIS by Jonathan Geisler.</i><br>
<i>Built on the <a href="https://github.com/DSU-DefSec/DWAYNE-INATOR-5000">DWAYNE-INATOR-5000</a> — free, open source, and battle-tested.</i>

{{ template "feet.html" . }}
